/*
 * @name: global.css
 * @author: santiago marchioni
 * @date: 2014.04.26
 * @description: Set commons styles for Ishidan site
 */

/* Global 
--------------------------------------------------*/
html, 
body {
    height: 100%;
}
body {
    color: #666;
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 13px;
    line-height: 1.2em;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
h1 {
    font-size: 1.6em;
    line-height: 1.6em;
}

/* Header 
--------------------------------------------------*/
header {
    background-color: rgba(0, 0, 0, .4);
    padding: 1em;
    color: #fff;
}
    /* Nav
    ----------------------------------------------*/
    nav {
        background-color: #CF3131;
        overflow: hidden;
        padding: 0 2em;
    }
    nav li {
        display: inline-block;
    }
    nav a {
        color: #FFF;
        display: inline-block;
        padding: .6em 1em;
        text-decoration: none;
        text-transform: uppercase;
    }
    nav a:hover {
        background-color: #000;
    }

header ol {
    list-style: decimal;
    -webkit-margin-start: 2em;
}

/* Footer 
--------------------------------------------------*/
footer {
    border-top: 2px solid #FF8F00;
    color: #999;
    font-size: 1.1em;
    height: 2.4em;
    margin-top: -4.4em;
    padding: 1em;
    text-align: center;
}
footer > a, 
footer div {
    display: inline-block;
    vertical-align: middle;
}
footer > a {
    background-color: #FF8F00;
    color: #FFF;
    margin: 0 1em;
    padding: .2em .3em;
}
footer strong {
    color: #FF8F00;
    font-weight: bold;
}

/* Main 
--------------------------------------------------*/
.wrapper {
    min-height: 100%;
    padding-bottom: 5.4em;
}
main, [role="main"] {
    padding: 1em;
}
section {
    overflow: hidden;
    padding: 1em;
    margin: 0 auto;
    max-width: 1200px;
}
section h2 {
    color: #FF8F00;
    font-size: 1.5em;
    line-height: 1.3em;
    padding-bottom: 8px;
    text-transform: uppercase;
}
section h2 span {
    color: #999;
    font-size: .7em;
}

/* Form 
-------------------------------------------------*/
fieldset {
    border: 1px solid #ededed;
    margin: 1em 0;
    padding: 1em 0;
}
legend {
    margin-left: 1em;
    text-transform: capitalize;
}
label {}
textarea {
    resize: none;
}

/* Box-..
-------------------------------------------------*/
.box {
    background-color: #ededed;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin: .5em 0 1em;
    padding: 1em;
}
.box-error {
    background-color: #ffeeee;
    border: 1px solid #ff1111;
    color: #ff1111;
}
.box-info {
    background-color: #ffffee;
    border: 1px solid #F5F500;
    color: #DBDB08;
}
.box-success {
    background-color: #eeffee;
    border: 1px solid #009900;
    color: #009900;
}

.valid {
    background-color: green;
}
.invalid {
    background-color: red;
}