/*
 * @name: global.css
 * @author: santiago marchioni
 * @date: 2014.04.26
 * @description: Set commons styles for Ishidan site
 */

/* Global 
--------------------------------------------------*/
html, 
body {
    height: 100%;
}
body {
    color: #666;
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 13px;
    line-height: 1.2em;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
h1 {
    font-size: 1.6em;
    line-height: 1.6em;
}

/* Header 
--------------------------------------------------*/
header {
    background-color: #DDD;
    color: #fff;
}
    /* Nav
    ----------------------------------------------*/
    nav {
        background-color: #CF3131;
        overflow: hidden;
        padding: 0 2em;
    }
    nav ul, 
    nav li {
        display: inline-block;
    }
    nav a {
        color: #FFF;
        display: inline-block;
        padding: .6em 1em;
        text-decoration: none;
        text-transform: uppercase;
    }
    nav a:hover {
        background-color: #C85959;
    }
    .more-actions {
        float: right;
    }

header ol {
    list-style: decimal;
    -webkit-margin-start: 2em;
}
.isologotipo {
    float: right;
}


/* Footer 
--------------------------------------------------*/
footer {
    background-color: #DDD;
    border-top: 2px solid #CF3131;
    color: #FFF;
    font-size: 1em;
    height: 8em;
    margin-top: -8em;
    padding: 1em;
    position: relative;
}
footer > a, 
footer div {
    display: inline-block;
    vertical-align: middle;
}
footer a {
    color: #666;
    line-height: 1.2em;
}
footer strong {
    color: #FF8F00;
    font-weight: bold;
}
footer dl {
    display: inline-block;
    vertical-align: top;
    width: 20%;
}
footer dt {
    color: #CF3131;
    font-weight: bold;
}

.datafiscal {
    bottom: 1em;
    position: absolute;
    right: 1em;
}

/* Main 
--------------------------------------------------*/
.wrapper {
    min-height: 100%;
    padding-bottom: 8em;
}
main, [role="main"] {
    display: table;
    width: 100%;
}
main, [role="main"],
section {
    margin: 0 auto;
    max-width: 1200px;
    vertical-align: top;
}
section {
    overflow: hidden;
    padding: 1em;
}
section h2 {
    color: #FF8F00;
    font-size: 1.2em;
    line-height: 1.3em;
    padding-bottom: 8px;
    text-transform: uppercase;
}
section h2 span {
    color: #999;
    font-size: .7em;
}
section h4 {
    padding-bottom: .6em;
}

/* Columns
-------------------------------------------------*/
.sidebar, 
.col {
    display: table-cell;
    padding: 1em;
    vertical-align: top;
}
.left-col {
    width: 50%;
}

/* Sidebar
-------------------------------------------------*/
.sidebar {
    border-right: 2px solid #CF3131;
    display: table-cell;
    min-width: 230px;
    padding: 1em 0;
    vertical-align: top;
    width: 20%;
}
.sidebar a {
    border-bottom: 2px solid #EDEDED;
    color: #666;
    display: block;
    padding: 1em;
    font-size: 1.4em;
}
.sidebar a:hover {
    background-color: #EFEFEF;
}

/* Form 
-------------------------------------------------*/
fieldset {
    border: 1px solid #ededed;
    margin: 1em 0;
    padding: 1em 0;
}
legend {
    font-size: 1.2em;
    margin-left: 1em;
    text-transform: capitalize;
}
textarea {
    resize: none;
}
    /* Data Form
    ---------------------------------------------*/
    .data-form {
        background-color: #f1f1f1;
        border-radius: 6px;
        color: #666;
        overflow: hidden;
    }
    .data-form,
    .data-form fieldset {
        padding: 1em;
    }
    .data-form fieldset {
        border: 1px solid #cecfd0;
    }
    .data-form fieldset > div {
        margin-bottom: 4px;
    }
    .data-form dt, 
    .data-form label {
        display: inline-block;
        text-align: right;
        min-width: 200px;
        width: 26%;
    }
    .data-form dd {
        color: #333;
        display: inline-block;
        min-width: 200px;
        margin-bottom: 4px;
        width: 50%;
    }
    .data-form input[type="submit"] {
        float: right;
        margin: .4em 0;
    }

    /* Login 
    ---------------------------------------------*/
    .login {
        float: right;
        min-width: 340px;
        width: 30%;
    }
    .login label, 
    .login input {
        width: 50%;
        margin-right: -4px;
        min-width: 0;
        padding: 0 1em;
    }


/* Validation 
-------------------------------------------------*/
.valid {
    background-color: green;
}
.invalid {
    background-color: red;
}

/* Box-..
-------------------------------------------------*/
.box {
    background-color: #ededed;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin: .5em 0 1em;
    padding: 1em;
}
.box-error {
    background-color: #ffeeee;
    border: 1px solid #ff1111;
    color: #ff1111;
}
.box-info {
    background-color: #ffffee;
    border: 1px solid #F5F500;
    color: #B2B200;
}
.box-success {
    background-color: #eeffee;
    border: 1px solid #009900;
    color: #009900;
}

/* Slider 
-------------------------------------------------*/
.slider {
    max-width: 1200px;
    overflow-x: scroll; 
}
.slider ul {
    white-space: nowrap;
} 
.slider li {
    display: inline-block;
}

/* Listas 
-------------------------------------------------*/
.list li {
    display: inline-block;
}

/* Links 
-------------------------------------------------*/
.link-button {
    background-color: #EDEDED;
    border: 1px solid #999;
    border-radius: 4px;
    color: #000;
    padding: 0 .5em;
}

/* Nose 
--------------------------------------------------*/
.sell, 
.pago{
  margin-top: 2%;
  border-top: 1px solid #CF3131;
}