/*
 * @name: Grid.css
 * @date: 2014.05.20
 * @description: Aqui se define la grilla a utilizar en toda la aplicacion
 *               consta de 12 columnas
 */

/* Grid - contenedor de las columnas
----------------------------------------------*/
.grid {
    display: block;
    overflow: hidden;
    width: 100%;
}

/* Rows - columnas
----------------------------------------------*/
.row1-12 { width: 8.33%; }
.row2-12 { width: 16.66%; }
.row3-12 { width: 25%; }
.row4-12 { width: 33.3%; }
.row5-12 { width: 41.66%; }
.row6-12 { width: 50%; }
.row7-12 { width: 58.33%; }
.row8-12 { width: 66.66%; }
.row9-12 { width: 75%; }
.row10-12 { width: 83.33%; }
.row11-12 { width: 91.66%; }
