/*
 * @name: tables.css
 * @author: santiago marchioni
 * @date: 2014.04.26
 * @description: Set styles for tables
 */

/* Tables
--------------------------------------------------*/
table {
    border: 1px solid #ededed; 
    margin: 1em 0;
    width: 100%;
}
tr {
    border-bottom: 1px solid #ededed; 
}
th, td {
    border-right: 1px solid #ededed;
    height: 20px;
    text-align: center;
    vertical-align: middle;
}
th {
    font-weight: bold;
}
